{% extends "partials/base.html"%}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}
Stock ANZEN
{% endblock %}

{% block content %}
{% load static %}

{% include 'partials/sidebar.html' %}

<d-- class="main">
    <div class="main-header">
        <div class="main-header__left">
            <p>Paginas / Inicio</p>
            <span>Inicio</span>
        </div>
    </div>
    <div class="contenedor">
        <div class="contenedorArriba">
           <div class="box1">
                <div class="contenedorArriba-izquierda">
                    <span>Bienvenido</span>
                    <p>{{user.nombre}}</p>
                    <p>Controla tu stock, asegura tu exito.</p>
                </div>
                <div class="contenedorArriba-derecha">
                    <img src="{% static 'imagenes/imagen9.png' %}" alt="imagen-anzen">
                </div>
           </div>
        </div>
        <div class="contenedorAbajo">
            <div class="contenedor-izquierda">
                <table class="table table-borderless tabla">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Actividad</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for actividad in actividades %}
                        <tr>
                            <th scope="row">{{actividad.fecha_y_hora|date:"Y-m-d"}}</th>
                            <th>{{actividad.obtener_empleado_nombre}}</th>
                            <td>Producto falta migrar</td>
                            <td>{{actividad.tipo_de_transaccion}}</td>
                            <td>{{actividad.descripcion}}</td>
                            <td>{{actividad.cantidad}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="contenedor-derecha">
                <div class="rectangulo1">
                    <div class="rectangulo-texto">
                        <span>productos en niveles <br>bajos o agotados</span>
                        <p>21</p>
                    </div>
                    <div class="alerta">
                        <img src="{% static 'imagenes/alerta.png' %}" alt="alerta">
                    </div>
                </div>
                <div class="rectangulo2">
                    <div class="rectangulo-texto">
                        <span>Cantidad de productos <br>agotados</span>
                        <p>5</p>
                    </div>
                    <div class="alerta">
                        <img src="{% static 'imagenes/alerta.png' %}" alt="alerta">
                    </div>
                </div>
                <div class="rectangulo3">
                    <div class="rectangulo-texto">
                        <span>Vendedor Destacado</span>
                        <p>Franco Ortelli</p>
                    </div>
                    <div class="alerta">
                        <img src="{% static 'imagenes/estrella.png' %}" alt="estrella">
                    </div>
                </div>
                <div class="rectangulo4">
                    <div class="rectangulo-texto">
                        <span>Proveedor Destacado</span>
                        <p>Angela Duarte</p>
                    </div>
                    <div class="alerta">
                        <img src="{% static 'imagenes/estrella.png' %}" alt="estrella">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
<script src="{% static 'javascript/main.js' %}"></script>
{% endblock %}
