{% extends "partials/base.html" %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/rempleado.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock%}

{% block title %}
ANZEN - Resgitro Empleado
{% endblock%}

{% block content %}
{% load static %}

{% include 'dashboard/sidebar.html' %}
{% include 'dashboard/navbar.html' %}

    <div class="main">
        <div class="main-header">
            <div class="main-header__left">
                <p>Paginas / Empleados / Agregar Empleado</p>
                <span>Agregar Empleado</span>
            </div>
            <div class="main-header__right">
                <a href="#">
                    <i class="lni lni-cog"></i>
                    <span class = "sidebar__text">Iniciar sesion</span>
                </a>
            </div>
        </div>
        <div class="contenedor">
            <div class="contenedor-form">
                <form method="post">
                    {% csrf_token %}
                
                    <div class="input-caja">
                        <label for="nombreEmpleado">Nombre</label>
                        <input type="text" id="nombreEmpleado" name="nombreEmpleado">
                    </div>
                    
                    <div class="input-caja">
                        <label for="mail">Correo Electrónico</label>
                        <input type="text" id="mailEmpleado" name="maileEmpleado">
                    </div>

                    <div class="input-caja">
                        <label for="password">Contraseña</label>
                    <input type="text" id="password" name="password" required>
                    </div>

                    <div class="input-caja">
                        <label for="password">Repetir Contraseña</label>
                        <input type="text" id="password" name="password" required>
                    </div>

                    
                    <div class="input-caja">
                        <label for="telefonoEmpleado">Numero de teléfono</label>
                        <input id="telefonoEmpleado" name="telefonoEmpleado" required>
                    </div>

                    
                    <div class="input-caja">
                        <label for="rol">Rol:</label>
                            <select class="rol">
                                <option selected>Seleccione el Rol</option>
                                <option value="1">Encargado</option>
                                <option value="2">Empleado-t1</option>
                                <option value="2">Empleado-t2</option>
                                <option value="2">Empleado-t3</option>
                            </select>
                    </label>
                    </div>
                    <button class = "btn-guardar" type="submit">Guardar</button>
                    <a class = "btn btn-cancelar" href="">Cancelar</a>
                </form>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                crossorigin="anonymous"></script>
    <script src="{% static 'javascript/main.js' %}"></script>
{% endblock %}