{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="imagenes/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/jquery.toast.css' %}">
    <title>ControlStock</title>
</head>
<body>

    <!-- Toast -->
    {% if messages %}
    {% for message in messages %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/jquery.toast.js' %}"></script>
    <script>
        $.toast({
            heading: 'Mensaje Importante',
            text: '{{message}}',
            showHideTransition: 'slide',
            icon: '{{message.tags}}',
            position: 'bottom-right',
            hideAfter: '8000'
        })
    </script>
    {% endfor %}
    {% endif %}

    <!-- INICIO DEL CONTENEDOR -->
    <div class="contenedor">
        <div class="contenedor-izquierda">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Registro</h1>
                <div class="input-caja1">
                    <label for="">Datos de la empresa</label>
                    <input type="hidden" name="id_user" id="id_user" value="{{ id_user }}">
                    <div class="input-caja__imagen">
                        <div class="img">

                        </div>
                        <div class="browse">
                            <span>Agrega una imagen</span>
                            <input type="file" id="foto_perfil" name="foto_perfil"/>
                        </div>
                    </div>
                </div>
                <div class="input-caja">
                    <label for="nombre_de_la_empresa">Nombre de la empresa</label>
                    <input type="text" id="nombre_de_empresa" name="nombre_de_empresa">
                </div>
                <div class="input-caja">
                    <label for="categoria_de_negocio">Tipo de idustria o categoria del negocio</label>
                    <input type="text" id="categoria_de_negocio" name="categoria_de_negocio">
                </div>
                <div class="input-caja">
                    <label for="teléfono">Numero de telefono de la empresa </label>
                    <input type="number" id='teléfono' name='teléfono'>
                </div>
                <div class="input-caja">
                    <label for="correo_electrónico_de_la_empresa">Correo electronico</label>
                    <input type="email" id='correo_electrónico_de_la_empresa' name='correo_electrónico_de_la_empresa'>
                </div>
                <button type="submit">Registrarse</button>
            </form>
        </div>
        <div class="contenedor-derecha">
            <img src="{% static 'imagenes/right_side.png' %}" alt="">
            <span class = "contenedor-derecha__texto">Tu stock seguro con ANZEN</span>
        </div>
    </div>
    <!-- FIN DEL CONTENEDOR -->
</body>
</html>