.contenedor{
    width: 100%;
    height: 100vh;
}

.contenedorArriba{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    background-color: #FFFFFF;
    width: 609px;
    height: 159px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: -3px 3px 5px #000000;
}

.contenedorArriba-izquierda span{
    font-size: 22px;
}

.contenedorArriba-izquierda p{
    font-size: 19px;
}

.contenedorAbajo{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    height: auto;
}

.tabla{
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: -3px 3px 5px #000000;
}

.table thead th{
    vertical-align: top;
}

.rectangulo1,
.rectangulo2,
.rectangulo3,
.rectangulo4{
    width: 285px;
    background-color: #FFFFFF;
    display: flex;
    margin-bottom: 20px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.rectangulo-texto{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.contenedor-derecha{
    display: flex;
    flex-direction: column;
}

.alerta{
    width: 48px;
    height: 48px;
    background-color: #F86A04;
    border-radius:  14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta img{
    width: 22px;
    height: 19px;
}
