.empleados{
    background-color: #ffffff;
    width: 950px;
    height: 538px;
    position: relative;
    left: 100px;
    top: 40px;
    border-radius: 8px;
    padding: 15px;
}

.navbar{
    padding: 0;
}

td#row{
    display: flex;
    flex-direction: row;
}

.contenedor{
    display: flex;
    width: 100%;
    background-color: #F8F9FA;
    width: 1116px;
    border-radius: 8px;
}

.contenedor-form{
    display: flex;
    padding: 15px;
    width: 100%;
    width: 1116px;
    margin-left: 15px;
}

.btn-crear{
    width: 184px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    gap: 10px;
    background-color: #F86A04;
    color: #ffffff;
}


.btn-editar,
.btn-eliminar,
.btn-agregar{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3px;
}

.btn-editar{
    background-color: #2152FF;
}

.mensaje {
    width: 454px;
    height: 260px;
    background-color:  #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    position: absolute;
    left: 214px;
    top: 61px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}

.btn-mensajeEliminar{
    width: 297px;
    height: 49px;
    border-radius: 8px;
    background-color: #F86A04;
    color: #ffffff;
    border: none;
    font-size: 16px;
}

.btn-mensajeCancelar{
    width: 68px;
    height: 19px;
    color: #92929D;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.btn-eliminar{
    background-color: #FF0000;
}


.btn-buscar{
    width: 60px;
    height: 40px;
    background-color: #F87906;
    border: none;
}

.btn-buscar::placeholder {
    background-color: none;
}

.btn-agregarProducto{
    width: 186px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    background-color: #F87906;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}


.input9{
    height: 40px;
    width: 355px;
}

.selects{
    width: 132px;
}

.btn-crear{
    margin-left: 810px;
}
