.contenedor{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #F8F9FA;
    width: 1116px;
    border-radius: 8px;
    overflow-y: scroll;
}

.contenedor-form{
    display: flex;
    padding: 15px;
    width: 100%;
    height: 952px;
    background-color: #ffffff;
    margin-left: 15px;
}



input{
    display: block;
    width: 1074px;
    height: 56px;
    border-radius: 8px;
    background-color: #DBD7F4;
    border: 1px solid #DBD7F4;
    outline: none;
    margin-bottom: 8px;
}

.rol{
    display: block;
    width: 1074px;
    height: 56px;
    border-radius: 8px;
    background-color: #DBD7F4;
    border: 1px solid #DBD7F4;
    outline: none;
    margin-bottom: 8px;
}

.inputDescripcion{
    height: 184px;
}

.btn-guardar{
    width: 110px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    gap: 10px;
    background-color: #F86A04;
    color: #ffffff;
}

.btn-crear{
    width: 184px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    gap: 10px;
    background-color: #F86A04;
    color: #ffffff;
}

.btn-cancelar{
    width: 113px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    gap: 10px;
    background-color: #FFFFFF;
    color: #92929D;
}